{{ define "header" }}
<!doctype html>
<head>
	<title>Jot down / today</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/site.css" />
    {{ if .isProduction }}
    <script src="/js/webcomponents.min.js"></script>
    <link rel="import" href="/js/elements.html">
    {{ else }}
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/customelements/elements.html">
    {{ end }}
    <script src='/js/app.js'></script>
    <link rel="shortcut icon" href="/img/favicon.ico?v=3"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
  <!-- <paper-toolbar>
    <paper-icon-button icon="maps:directions-railway"></paper-icon-button>
      <a href="/" class="header-title">
      <span class="title">Stuff To Be Done</span>
    </a>
  </paper-toolbar> -->
{{ end }}