{{ define "header" }}
<!doctype html>
<head>
	<title>Jot down / today</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/site.css" />
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/elements/elements.html">
    <script src='/js/app.js'></script>
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>
</head>
<body>
  <!-- <paper-toolbar>
    <paper-icon-button icon="maps:directions-railway"></paper-icon-button>
      <a href="/" class="header-title">
      <span class="title">Stuff To Be Done</span>
    </a>
  </paper-toolbar> -->
{{ end }}